// SASS POZWALA NAM ZAPISYWAĆ KODY WEWNĄTRZ SIEBIE , TZN GDY MAMY RODZICA I CHCEMY W NIM EDYTOWAĆ DZIECI ,TO NIE MUSZE TAK JAK W CSS WYCHODZIĆ Z KODOWANIA PIERWSZEGO BY IŚĆ DO DRUGIEGO . W TYM MOGE SOBIE TO PO PROOSTU ZROBIĆ NA RAZ.

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Raleway', sans-serif;
	/* w ten sposób robimy sobie ładnie Gradientowe tło , możemy użyć :
    Gradient radialny prosty: W tym przypadku gradient radialny tworzy okrągły gradient z koloru 
    Gradient radialny eliptyczny: Ten gradient jest podobny do gradientu prostego, ale ma kształt elipsy zamiast okręgu
    Specyfikacja położenia środka gradientu: Możesz określić konkretne położenie środka gradientu, tutaj np 30% od lewej i 50% od góry. 
    Gradient radialny z określonym rozmiarem: Ten gradient ma określone rozmiary, 100 pikseli na 100 pikseli, i położenie środka w połowie szerokości i wysokości elementu.
    Gradienty z kolorami i przystawkami (color stops): Możesz określić różne kolory i procenty, aby kontrolować, jak gradient zmienia się na przestrzeni jego promienia.
    
    Powielanie gradientów: repeating-radial-gradient pozwala na powtarzanie gradientów w określonych odstępach, w tym przypadku co 20 pikseli.*/
	background: radial-gradient(circle, rgb(255, 255, 255) 10%, rgb(255, 255, 255) 65%);
	overflow: hidden;
}

.form {
	position: relative;
	border: 1px solid rgb(165, 164, 164);
	padding: 10px;
	border-radius: 5px;
	width: 300px;
	height: 500px;

	&__tittle {
		// wielkosc liter
		font-size: 25px;
		// grubosc liter
		font-weight: 800;
		margin: 30px 70px;

		// MARGIN BOTTOM - DAJEMY ABY ZMIEJSZYC MARGINES DOLNY - MIEDZY MOIM TYTULEM A DOLNYM KONTENEREM I POLEM TEKSTOWYM.
		margin-bottom: 100px;
		color: rgb(189, 188, 188);
	}

	&__box {
		position: relative;
		margin-top: -40px;
		width: 100%;
		height: 150px;
	}
	label {
		position: absolute;
		margin-top: -30px;
		left: 10px;
		color: rgb(138, 136, 136);
	}

	input {
		position: absolute;
		box-sizing: border-box;
		margin: 8px 0;
		width: 90%;
		height: 30px;
		right: 20px;
		// zawsze gdt dodajemy radius to osobno musze dodac sam border , no bo jgo tez musze ustawic
		border-radius: 5px;
		border: 2px solid rgb(189, 189, 189);
	}

	&__city {
		// tutaj juz daje pozycje absolutną
		position: absolute;
		margin-top: 80px;
		width: 100%;
		height: 150px;
	}

	&__tel {
		// tutaj juz daje pozycje absolutną oraz zmieniam margin top , aby odsunąć od siebie

		position: absolute;
		margin-top: 160px;
		width: 100%;
		height: 150px;
	}
}
